In [ ]:
#Accept a string from the user and print alternate characters on the screen
#input : python     output:pto
s = input("enter a string")#python
print(s[2])
print(s[2:6])
print(s[0:6:2])

In [2]:
#Accpet a string as an input and check whether it is palindrome 
#or not
s1 = input("enter a string")
if s1==s1[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

enter a stringmadam
palindrome

In [4]:
s2 = "abc"
s2 = s2.replace('b','z')
print(s2)

azc

### Accept a string from the user and count the 
1. no.of alphabets
2. no.of digits
3. no.of lower case characters
4. no.of upper case characters
5. no.of vowels in the given string

In [8]:
s3 = input("enter a string")#pYthOn123
vowels = "aeiouAEIOU"
alphabets = 0
digits = 0
lower = 0
upper = 0
v = 0
for i in s3:
    if i.isalpha():
        alphabets+=1
    if i.isdigit():
        digits+=1
    if i.islower():
        lower+=1
    if i.isupper():
        upper+=1
    if (i in vowels):
        v+=1
print(alphabets,digits,lower,upper,v)

enter a stringpYthOn123
6 3 4 2 1

In [10]:
#List:
x = 10,20,30
print(type(x))

<class 'tuple'>

In [17]:
list1 = [1,2,3]
list1.append(4)
list1.insert(1,100)
list1.extend([5,6,7])
list1

[1, 100, 2, 3, 4, 5, 6, 7]

In [18]:
list1.remove(100)
list1

[1, 2, 3, 4, 5, 6, 7]

In [19]:
list1.pop(2)

3

In [21]:
list1.clear()
list1

[]

In [6]:
list1 = [11,20,33,41,5,6,7,8,91,100]
#output:296
s = sum(list1)
s1 = 0
for i in range(list1.index(5),list1.index(8)+1):
    s1 += list1[i]
print(s-s1)

296

In [24]:
list2 = ['gitam','hyderabad','vizag','banglore']
maximum = list2[0]
for i in list2:
    if len(i)>len(maximum):
        maximum=i 
print(maximum)

hyderabad

In [28]:
list3 = []
for i in list2:
    list3.append(len(i))
#list comprehension
list4 = [len(i) for i in list2] 

print(list2[list3.index(max(list3))])
list4

hyderabad

[5, 9, 5, 8]